#tab-panel div.available-panel {
	border: 1px solid #888;
	background: #eee;
	margin: 4px 0;
}


#tab-panel .tab-panel-available-place {
	width:60%;
}

#tab-panel img.preview {
	float:left;
	border:1px solid grey;
	margin: 3px;
}

#tab-panel #tab-panel-available .summary p,
#tab-panel #tab-panel-available .summary h3 {
	margin:0;
	padding:0;
}
#tab-panel #tab-panel-available .summary {
	margin:0 36px 0 208px;
	padding: 5px;
}
#tab-panel #tab-panel-available .action {
	float:right;
}
#tab-panel #tab-panel-available .action img {
	margin: 8px 2px;
	width: 32px;
	height: 32px;
}
#tab-panel #tab-panel-available img {
	width: 200px;
	height: 100px;
}

#tab-panel-info-dialog {
	width: 450px;
}

#tab-panel-info-dialog > img {
	border:1px solid grey;
	width: 473px;
	height: 275px;
}
