textarea.generated-xml {
	width:95%;
}

form.aligned-form label {
	width: 8em;
	float: left;
	margin-right: 0.5em;
	text-align: right;
}
.aligned-button {
	margin: 0.5em 0 0.5em 8.5em;
}

.error-tab-highlight {
	background-color: #f55;
}

.error-tab {
	background-color: #ee8;
}
