textarea.generated-xml {
	width: 95%;
	height: 90%;
}
.dialog {
	text-align : center;
}

form.aligned-form label, .aligned-form form label {
	width: 8em;
	float: left;
	margin-right: 0.5em;
	text-align: right;
}
.aligned-button {
	margin: 0.5em 0 0.5em 8.5em;
}

.error-tab-highlight {
	background-color: #f55;
}

.error-tab {
	background-color: #ee8;
}

ul.sortable li, ul.draggable li {
	margin: 5px;
	padding: 5px;
	list-style-type: none;
}
