[submodule "steal"]
	path = steal
	url = git://github.com/jupiterjs/steal.git
[submodule "jquery"]
	path = jquery
	url = git://github.com/jupiterjs/jquerymx.git
[submodule "funcunit"]
	path = funcunit
	url = git://github.com/jupiterjs/funcunit.git
[submodule "documentjs"]
	path = documentjs
	url = git://github.com/jupiterjs/documentjs.git
[submodule "graoupack/resources/jStorage"]
	path = graoupack/resources/jStorage
	url = git://github.com/andris9/jStorage.git
[submodule "graoupack/resources/jszip"]
	path = graoupack/resources/jszip
	url = git://github.com/Stuk/jszip.git
[submodule "graoupack/resources/Downloadify"]
	path = graoupack/resources/Downloadify
	url = git://github.com/dcneiner/Downloadify.git
[submodule "graoupack/resources/jquery-ui"]
	path = graoupack/resources/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
