<p id="tab-presentation">
This is an highly experimental (read : doesn't work) test of a pure javascript UI for creating an IzPack xml.
The goal of this application : provide an easy way to create an IzPack xml, and preview what your installer would look like.
No heavy app to install, just a browser.
The only browser tested is Firefox 3.6. It should works fine on firefox 3.x, and there is a risk it would work on opera/safari/chrome.
</p>
<p>
Choose what you want for your installer and click on "generate !"
</p>
<p>
This project is released under the terms of the new BSD license.
The main repository is on <a href="http://github.com/dduponchel/GraouPack">GitHub</a> and this app can be seen deployed on <a href="http://graoupack.appspot.com/">google app engine</a> thanks to <a href="http://drydrop.binaryage.com/">DryDrop</a>.
</p>
<p>
Clear all data : <button class="nuke">destroy</button>
</p>
