<img src="img/panel/HelloPanel-small.png" class="preview" alt="HelloPanel"/>
<div class="summary">
  <h3>HelloPanel</h3>
  <p>Welcomes the user with the project name, the version, the URL as well as the authors.</p>
</div>
