<div class="detail">
  <img src="img/panel/FinishPanel.png" alt="screenshot"/>
  <p>An ending panel.</p>
  <p class="other-features">There is also a FinishPanel able to write automated installer information.</p>
</div>
