<div class="config">
  <form action="#">
    <fieldset>
      <label for="tab-panel-config-hello-file-html">use an html file instead of the default text</label><input type="checkbox" id="tab-panel-config-hello-file-html" name="tab-panel-config-hello-file-html" />
    </fieldset>
  </form>
</div>
