<div class="detail">
  <img src="img/panel/InfoPanel.png" alt="screenshot"/>
  <p>This is a kind of 'README' panel. It presents text of any length.</p>
  <p class="other-features">There is also an HTMLInfoPanel rendering html instead of text.</p>
</div>
