<div class="detail">
  <img src="img/panel/InstallPanel.png" alt="screenshot"/>
  <p>You should always have this one as it launches the installation process !</p>
  <p class="other-features"></p>
</div>
