<div class="detail">
  <img src="img/panel/LicencePanel.png" alt="screenshot"/>
  <p>These panels can prompt the user to acknowledge a license agreement. They block unless the user selects the 'agree' option.</p>
  <p class="other-features">There is also an HTMLLicencePanel rendering html instead of text.</p>
</div>
