<div class="detail">
  <img src="img/panel/PacksPanel.png" alt="screenshot"/>
  <p>Allows the user to select the packs he wants to install.</p>
  <p class="other-features">The packs can be required/optionnal and be grouped into installGroups. There are also an ImgPacksPanel (each pack has a different picture), a TreePacksPanel (uses a tree-like list instead of a simple list).</p>
</div>
