<div class="detail">
  <img src="img/panel/TargetPanel.png" alt="screenshot"/>
  <p>This panel allows the user to select the installation path.</p>
  <p class="other-features">The installation path can be customized and the "target directory will be created" dialog can be suppressed.</p>
</div>
