<ul>
<% for(var tab in tabs){%>
  <li><a href="#<%=tab%>"><%=tabs[tab]%></a></li>
<%}%>
</ul>
<% for(var tab in tabs){%>
  <div id="<%=tab%>">
    loading
  </div>
<%}%>
<% for(var i = 0; i < hidden.length; i++){%>
  <div id="<%=hidden[i]%>" style="display:none;"></div>
<%}%>
