<div class="config">
  <form action="#">
    <fieldset>
      <label for="tab-panel-config-finish-automated">Propose an automated installer</label><input type="checkbox" id="tab-panel-config-finish-automated" name="tab-panel-config-finish-automated" />
    </fieldset>
  </form>
</div>
