<div class="detail">
  <img src="img/panel/HelloPanel.png" alt="screenshot"/>
  <p>This panel welcomes the user by displaying the project name, the version, the URL as well as the authors.</p>
  <p class="other-features">There are also an HTMLHelloPanel (rendering html instead of text) and a CheckedHelloPanel (checking the registry for a previous installation).</p>
</div>
