<div class="config">
  <form action="#">
    <fieldset>
      <label for="tab-panel-config-info-file-html">is html</label><input type="checkbox" id="tab-panel-config-info-file-html" name="tab-panel-config-info-file-html" />
    </fieldset>
  </form>
</div>
