<div class="config">
  <form action="#">
    <fieldset>
      <label for="tab-panel-config-packs-tree">use a tree-like list</label><input type="checkbox" id="tab-panel-config-packs-tree" name="tab-panel-config-packs-tree" />
      <p>For more informations, see the "packs" tab</p>
    </fieldset>
  </form>
</div>
