<form>
  <fieldset>
    <legend>Application</legend>
    <div class="project-place-holder"></div>
  </fieldset>
</form>
<form>
  <fieldset>
    <legend>Authors</legend>
    <table>
      <thead>
        <tr>
          <% for(var attr in Graoupack.Models.Author.attributes){%>
            <% if(attr == 'id') continue;%>
            <th><%= attr%> </th>
          <%}%>
          <th>Options</th>
        </tr>
      </thead>
      <tbody class="authors-place-holder">
      </tbody>
    </table>
    <h2>New author</h2>
    <% for(var attr in Graoupack.Models.Author.attributes){ %>
      <% if(attr == 'id') continue;%>
        <div>
          <label><%= attr %> </label><br />
          <input type="text" value="" name="<%= attr %>"/>
        </div>
      <%}%>
    <input type='submit' value='Create'/>
  </fieldset>
</form>
