<div <%= project%>>
  <label for="appname">app name</label><input name="appname" value="<%=project["appname"]%>"/><br/>
  <label for="appversion">app version</label><input name="appversion" value="<%=project["appversion"]%>"/><br/>
</div>
